*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Helper_Classes____*/
.flex_center_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex_center_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text_adj{
    text-align: center;
    color: rgb(36, 35, 35);
    padding: 15px; 
    max-width: 70%;   
    margin: 0 auto;
}
/* Helper_Classes____ End */

body{
    background: radial-gradient(circle, rgba(116, 66, 233, 0.548) 15%, rgba(166, 144, 196, 0.356) 48%, rgba(193, 50, 102, 0.171) 100%);  
}
.main_container{
    max-width: 75%;
    margin: 5em auto;
}
.page_header{
    margin-top: 5em;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(2.6rem, 3.5vw, 5rem);
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(177, 177, 177);
}
main{
    margin: 6em auto;
    display: flex;
    align-items: flex-start;
    min-width: 100%;
}
form{
    min-width: 60%;
    /* margin-left: 2em; */
    border-radius: 5px;
    background-color: pink;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    border: 2px solid rgba(0, 0, 0, 0.158);
}
.name, .email, .phone{
    min-height: 2em;
    padding: 15px;

}
label{
    width: 150px;
}
input{
    border-radius: 5px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 2em;
}
input::placeholder{
    padding-left: 15px;
    font-size: 14px;
    font-style:italic ;
}

.photo_section{
    max-width: 60%;    
}

img{
    display: flex;
    justify-content: center;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
}